.title {
    border: 2px outset rgb(80, 79, 79);
    background-color: rgb(3, 19, 25);
    text-align: center;
}
* {
box-sizing: border-box;
}

input[type=text], select, textarea {
width: 100%;
padding: 5px;
border: 1px solid #ccc;
border-radius: 2px;
resize: vertical;
}

label {
padding: 12px 12px 12px 0;
display: inline-block;
}

input[type=submit] {
background-color: #04AA6D;
color: white;
padding: 2px 2px;
border: none;
border-radius: 2px;
cursor: pointer;
float: right;
}

input[type=submit]:hover {
background-color: #45a049;
}

.container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 5px;
}

.col-25 {
float: left;
width: 16%;
margin-top: 2px;
margin-right: 5px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
}
}

/* 
* Always set the map height explicitly to define the size of the div element
* that contains the map. 
*/
#map {
height: 100%;
}

/* 
* Optional: Makes the sample page fill the window. 
*/
html,
body {
height: 100%;
margin: 0;
padding: 0;
}

.custom-map-control-button {
background-color: #fff;
border: 0;
border-radius: 2px;
box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
margin: 10px;
padding: 0 0.5em;
font: 400 18px Roboto, Arial, sans-serif;
overflow: hidden;
height: 40px;
cursor: pointer;
}
.custom-map-control-button:hover {
background: rgb(235, 235, 235);
}